[2018-08-01 18:09] in4margaret opened #5 "Sign in issue: personal email"
### This issue is for a: (mark with an `x`)
[code]

[2018-10-26 10:41] jmprieur commented on #5
@in4margaret : did you use the pre-configured application? or did you come-up with your own application registration?

[2018-10-29 06:49] kurayahi opened #10 "TodoListCLient SocketException in accessing to https API endpoint (hosted on Azure Web App)"
### This issue is for a: (mark with an `x`)
[code]

### Minimal steps to reproduce

### Any log messages given by the failure

System.Net.Http.HttpRequestException
  HResult=0x80131500
  Message=この要求の送信中にエラーが発生しました。
  Source=mscorlib
  スタック トレース:
   場所 System.Runtime.CompilerServices.TaskAwaiter.ThrowForNonSuccess(Task task)
   場所 System.Runtime.CompilerServices.TaskAwaiter.HandleNonSuccessAndDebu

[2018-10-29 12:35] jmprieur commented on #10
@kurayahi
apparently there were changes in Azure web apps that require TLS 1.2

Do you want to try to add the following line, for instance at the beginning of Main in Program.cs?

[code]

[2018-10-29 12:36] jmprieur commented on #5
@in4margaret : did you use common as the tenant?
Did you read : https://github.com/Azure-Samples/active-directory-dotnet-native-aspnetcore-v2#choose-which-users-account-to-sign-in ?

[2018-10-30 04:01] kurayahi commented on #10
Thanks , I got it. It works well.
I added the line in MainWindow.xaml.cs of TodoListClient project.
System.Net.ServicePointManager.SecurityProtocol = System.Net.SecurityProtocolType.Tls12;

[2018-10-30 08:51] jmprieur commented on #10
@kurayahi
Actually, after discussing with colleagues, this does not seem to be the thing to do.
The issue you see seems to come from the OS.

The following article will help you doing the right fix (which is not in the code of the app): [Transport Layer Security (TLS) best practices with the .NET Framework](https://docs.microsoft.com/en-us/dotnet/framework/network-programming/tls)

Fixed by moving

[2018-10-30 08:51] #10 closed

[2018-11-05 15:40] MullerWasHere opened #12 "401 Unauthorized"
Hi all.

I Followed every step and on the WPF application i get the error "You do not have permission to view this directory or page."

Any clues?

Thank you

[2018-11-05 18:53] Katydude opened #13 "Internal 500 Error"
### This issue is for a: (mark with an `x`)
[code]

### Minimal steps to reproduce

### Any log messages given by the failure

### Expected/desired behavior

### OS and Version?

### Versions

### Mention any other details that might be useful
All instructions in the tutorial were followed. The TLS1.2 protocol was explicitly specified before calling in case that had something to do with it. The ap

[2018-11-05 19:02] Katydude commented on #13
Never mind about the App.config parameter. After looking over it again I do see where this is an optional, although mis-formatted / incorrect use of a configuration parameter as the parameter use is sort of overloaded. I still get the 500 Internal Server Error returned from the service, though, so I am going to leave this ticket open.

[2018-11-05 20:59] Katydude commented on #13
More information: The Authority in the ConfigureAzureOptions class ends up with a double // in the middle of it: https://login/microsoftonline.com//v2.0/

This can't be right, can it?

Also, the same set of options shows that the Client Secret is empty. Don't all client applications need to pass in a client secret for authentication?

Just trying to track down the source of my 500 errors since thi

[2018-11-05 23:05] Katydude commented on #13
So...there are two HUGE issues with this tutorial. First, it doesn't mention (at least I don't see where) that you MUST trust your Localhost certificate into your localmachine trusted roots. Otherwise, the client application is not going to connect to the service app. (As for what this means when you try to deploy to Azure....I suspect you will also need to take care that https is correctly config

[2018-11-05 23:05] #13 closed

[2018-11-06 03:16] Katydude commented on #12
Take a look at the issue I closed today regarding the 500 errors and see if it offers you any insight. If not, I'll try to help.

[2018-11-06 08:05] jmprieur commented on #13
Thanks for your feedback and really sorry for your pain @Katydude.

To answer your question, ida:AADInstance in the App.Config can be used in the case of national or sovereign clouds (I've added a comment and a link for more details)

Indeed, as you have discovered, https://login/microsoftonline.com//v2.0/ was not right. the ida:TenantId property is needed.

As far as trusting your localhost certi

[2018-11-06 08:31] jmprieur commented on #13
@Katydude also which browser was your default browser in Visual Studio? how did you accept the localhost certificate into your local machine trusted roots (did you use the cert manager)? Can you please share more about the specifics? I was not able to repro your issues myself;

[2018-11-06 19:39] Katydude commented on #13
Yes, I was using IIS Express which makes its own certificate but does not add it as a trusted root.

I accepted the certificate into my store using PowerShell but you could also just browse to an IIS Express website, grab the certificate by examining it with IE or Chrome, exporting it to the desktop and then importing it into your trusted roots of LocalMachine. You could also just change your IIS

[2018-11-06 21:12] Katydude commented on #13
JM,

I know this is slightly off-topic but have you had any success authenticating to an existing App Service to make REST calls? I think that would make a great addendum to your docs if not a whole new project altogether if there are significant differences. I could not figure out how to expose an API / Scope on an existing App Service. I have several of them at the moment so if I could just use

[2018-11-07 08:16] jmprieur commented on #13
@Katydude : by App Service, do you mean a Web API? (ASP.NET / ASP.NET Core Web API hosted in [Azure](https://docs.microsoft.com/en-us/azure/app-service/app-service-web-get-started-dotnet)) or something else?

If those are existent Web APIs, I guess they accept v1 tokens (whereas the sample here is a v2.0 sample on the new clean stack, which accepts v2.0 tokens). In that case the scope you need to

[2018-11-11 03:49] NeoXtreem opened #14 "AzureADAuthenticationBuilderExtensions in NuGet pacakge Microsoft.AspNetCore.Authentication.AzureAD.UI is incompatible"
### This issue is for a:
[code]

### Minimal steps to reproduce
Add the NuGet package **Microsoft.AspNetCore.Authentication.AzureAD.UI**, and remove the equivalent boilerplate code provided, namely the **AzureAdAuthenticationBuilderExtensions** class.  The call to **AddAzureAdBearer** must also be changed to **AddAzureADBearer**.

### Any log messages given by the failure
Upon running the service,

[2018-11-21 08:47] jmprieur commented on #12
@MullerWasHere can you provide repro steps? a call stack? where do you see the error?

[2018-12-05 11:03] #14 closed

[2018-12-05 11:04] jmprieur commented on #12
@MullerWasHere : closing this issue as you have not provided more information.
Feel free to re-open if you still hit this

[2018-12-05 11:04] #12 closed

[2018-12-06 07:47] goofybryan opened #18 "Should check tenantId and not jwtToken again"
A check the jwtToken == null is done again, instead of tenantId == null or string.IsNullOrEmpty perhaps?

[code]
https://github.com/Azure-Samples/active-directory-dotnet-native-aspnetcore-v2/blob/500fc267b5a9decb8ea96fe8b8084aea886c6350/2.%20Web%20API%20now%20calls%20Microsoft%20Graph/TodoListService/Extensions/AadIssuerValidator.cs#L32

[2018-12-06 08:49] jmprieur commented on #18
Thanks @goofybryan !

This is now fixed in this sample,

I've raised a similar issue to fix it in https://github.com/Azure-Samples/active-directory-aspnetcore-webapp-openidconnect-v2: See [#26](https://github.com/Azure-Samples/active-directory-aspnetcore-webapp-openidconnect-v2/issues/26)

cc: @kalyankrishna1

[2018-12-06 08:49] #18 closed

[2019-01-09 20:54] tbaggs opened #25 "401 Unauthorized returned from App Service after publishing to Azure"
### This issue is for a: (mark with an `x`)
[code]

### Minimal steps to reproduce

### Any log messages given by the failure

### Expected/desired behavior

### OS and Version?

### Versions

### Mention any other details that might be useful

[2019-01-09 21:00] tbaggs commented on #25
This issue is for a: (mark with an x)

- [ x] bug report -> please search issues before submitting
- [ ] feature request
- [ ] documentation issue or request
- [ ] regression (a behavior that used to work and stopped in a new release)

Minimal steps to reproduce
1. Publish API to Azure App Service following instructions in documentation
2. Using the UWP client, attempt to access the API after auth

[2019-01-09 22:03] tbaggs commented on #25
After turning on Diagnostic logging in the App services I did get the following error page which is showing the error occurring in the EasyAuth module of the App Service.

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>IIS Detailed Error - 401.83 - Unauthorized</title>
<style ty

[2019-01-17 15:59] jshinevar opened #28 "AddTokenAcquisition not defined in IServiceCollection"
### This issue is for a: (mark with an `x`)
[code]

### Minimal steps to reproduce

### Any log messages given by the failure

### Expected/desired behavior

### OS and Version?

macOS High Sierra

### Versions

### Mention any other details that might be useful

I am building a WebAPI looking to use Microsoft Graph API.  Trying to follow the guidance in this code, but I cannot because it looks li

[2019-01-17 16:05] jshinevar commented on #28
I didn't read far enough.  It is listed in the documentation.

[2019-01-17 16:05] #28 closed

[2019-01-22 16:38] jmprieur opened #31 "TokenAcquisition should be less fragile to missing trailing slash on authority"
### This issue is for a: (mark with an `x`)
[code]

### Minimal steps to reproduce
See the issue described in https://github.com/Azure-Samples/active-directory-dotnet-native-aspnetcore-v2/pull/30

### Expected/desired behavior
When the authority does not contain a trailing slash, TokenAcquisition should still work (see the closed PR)

[2019-03-14 18:29] nkwolf opened #36 "OAuth 2.0 On-Behalf-Of Flow for Microsoft Personal Accounts"
### This issue is for a: (mark with an `x`)
[code]

### Minimal steps to reproduce

### Any log messages given by the failure

### Expected/desired behavior

"Current limitations:
The on-behalf-of flow does not currently work for Microsoft Personal accounts."
The  [MSDN documentation](https://docs.microsoft.com/en-us/azure/active-directory/develop/v2-oauth2-on-behalf-of-flow#consent-for-azure-ad--

[2019-03-16 21:56] shiweiwei114 opened #37 "This sample won't work if I use certificate as secret for my AAD app"
### This issue is for a: (mark with an `x`)
[code]

### Minimal steps to reproduce

In appsetting.json file, instead of putting AAD app secret for "ClientSecret", I put the Certificate Name. The sample won't run because in the Startup.cs file, when the app first runs:
**services.AddAuthentication(AzureADDefaults.JwtBearerAuthenticationScheme)
                .AddAzureADBearer(options => Configurat

[2019-03-16 22:57] jmprieur commented on #37
@shiweiwei114 : yes this sample will also show how to use certs in the future

[2019-03-17 17:11] shiweiwei114 commented on #37
@jmprieur thanks for the quick response! Do you have a ETA for that? I will come back to check by that time then.

[2019-03-17 19:43] pritchie99 opened #38 ""App registrations (Preview)" disappears from Azure after Step 2 [if you are using a B2C tenant]"
### This issue is for a: (mark with an `x`)
[code]

### Minimal steps to reproduce

(If I switch to another directory where I have not used the preview functionality yet, this menu item is visible as expected.)

### Any log messages given by the failure

### Expected/desired behavior

### OS and Version?

MacOS - Chrome and Safari, Windows10 - Edge

### Versions

### Mention any other details that

[2019-03-17 22:45] jmprieur commented on #37
@shiweiwei114 : I'd like to come to this before the end of April.
Meanwhile you can have a loot at this variation of the daemon sample: https://github.com/azure-samples/active-directory-dotnetcore-daemon-v2#variation-daemon-application-using-client-credentials-with-certificates.
this will be similar.

[2019-03-17 22:47] jmprieur commented on #38
@pritchie99 : thanks for the heads-up.
I've asked the portal team if there are known issues.

[2019-03-17 22:49] jmprieur commented on #38
Do you want to try the following link?: https://aka.ms/appregistrations

[2019-03-17 23:19] pritchie99 commented on #38
Thanks @jmprieur.  Yes that link works well for me on whichever is the currently selected directory.  This is a great work-around so I can continue working with this preview so is very much appreciated.

[2019-03-18 00:03] jmprieur commented on #38
good to know @pritchie99.
@lnalepa @manoj-rath FYI

[2019-03-18 20:10] manoj-rath commented on #38
@pritchie99 Can you please confirm if you are on a B2C tenant, when the App registrations (Preview) link is missing in the menu bar on the left?

[2019-03-18 20:17] pritchie99 commented on #38
@manoj-rath No, it is just a normal AD tenant.  However it is not the "default" tenant for the subscription if that makes a difference.  I thought I would try this demo in a seperate tenant to the default.  NB the option did appear in the menu for that tenant prior to working through this demo and while adding entries for the TodolistService and TodolistClient.  However subsequent to that,  when I

[2019-03-18 22:16] danieldobalian commented on #38
Hey @pritchie99!

This is an interesting issue. We would love to dig a bit deeper. Would you mind reaching out directly? My email is on my Github profile.  Thanks in advance!

[2019-03-18 22:19] mstelten commented on #38
@pritchie99 Thanks again for alerting us to this issue.  Can you do one more favor?  If you are able to repro this bug again, please click the Smiley face in the upper right corner (this is the feedback icon) and put a quick note that you are reproing this issue.  This will provide me with the sessionId for your session so I can look through the logs and identify the issue.  Thanks again :)

[2019-03-18 23:58] pritchie99 commented on #38
@mstelten I have just done this after reproducing the issue with comment as follows:-

@mstelten
Reproduced issue "App registrations (Preview)" disappears from Azure after Step 2. #38.

[2019-03-19 00:02] pritchie99 commented on #38
@danieldobalian Email sent.

[2019-03-22 18:33] nkwolf commented on #36
This is the only sample for implementing OAuth 2.0 OBO on AAD v2.0 and it excludes personal MSA accounts in a very _evasive_ manner.

common | users can sign in with any Work and School account, or Microsoft Personal account. **Don't use it for the moment**. See [Current Limitations](https://github.com/Azure-Samples/active-directory-dotnet-native-aspnetcore-v2/tree/master/2.%20Web%20API%20now%20ca

[2019-03-22 18:44] jmprieur commented on #36
Thanks for your feedback @nkwolf
This is a new feature and things are landing progressively
I have a work item to update the sample and provide concrete solutions. How blocking is it for you?

[2019-03-24 22:36] nkwolf commented on #36
It is extremely blocking.
Do you have an ETA for the work item?
Any pointers/information to help us unblocked will be much appreciated.

[2019-04-03 09:31] akalcik opened #41 "Mismatch between objectidentifier and tenantid in httpContext ClaimsPrincipal and ConfidentialClientApplication when user is a guest"
Based on commits before April 1 2019 I created a code to get access token on behalf of user. I have a issue when the user is a guest in related tenant.  In the code below the ```objectidentifier``` and ```tenantid``` in ```httpContext``` ```ClaimsPrincipal``` are from _host_ tenant, where ```confidentalClientApplication``` contains ```objectidentifier``` and ```tenantid``` of _origin_ tenant. Beca

[2019-04-09 06:22] Hartmannsson commented on #38
I am experiencing the same behaviour.  The preview option is available under one of my subscriptions (default?) but shows briefly whilst loading the blade in another.
Interestingly I tried the aka.ms link and it just hangs with three dots.

[2019-04-09 07:01] pritchie99 commented on #38
For me, Manoj was correct in that I had made this tenant a b2c tenant a long time ago and forgotten about it.  The preview does not work with b2c at this time.  It's not immediately obvious in the UI if this is the case and although there is a way to confirm this by viewing the manifest for the directory, however I don't recall how we did this.  However I can confirm that when I go to the App Regi

[2019-04-10 06:45] jmprieur commented on #38
=> Conclusion.
     This behavior is expected at the moment for a B2C tenant. This will improve in the future, we are working on it.

Closing the issue for now.

[2019-04-10 06:46] #38 closed

[2019-04-10 06:49] jmprieur commented on #41
@akalcik ;  this should be ok as in a Web App there is only one account per token cache. However, I need to look at this in more details.
What are the repro steps ? just login a guest account? (I'm asking because this is something I've been testing, and therefore I'm a bit puzzled)

[2019-04-10 06:51] jmprieur commented on #36
@nkwolf I've updated the descriptions.
- OBO works for MSA.
- but the consent needs to happen on the Web API
  - and therefore the recommendation is to use the same client ID for the Web API and the client (and pass it and use it directly)

[2019-04-10 08:59] RenePingen commented on #25
We are getting the same issue when using an app service as web api. We have both tried with the managed identity on the app service and through the powershell script to create the apps. Both cases result in the situation that manual authentication on the API works, but through the native client we get the following error (401.83):
{"code":401,"message":"IDX10500: Signature validation failed. Unabl

[2019-04-10 11:25] jmprieur commented on #25
@RenePingen
I suspect a TLS 1.2 issue
could you please change the Target Framework in the properties of the TodoList client to .NET Framework 4.7.2?

![image](https://user-images.githubusercontent.com/13203188/55874936-13fac600-5b94-11e9-9aea-7bb66740797f.png)

If this works, I'll create a PR to update the client

[2019-04-10 11:50] RenePingen commented on #25
@jmprieur Thanks for the quick response. I changed it to 4.7.2 but unfortunately im still receiving the same error.

[2019-04-10 11:57] jmprieur commented on #25
@brentschmaltz @mafurman @GeoK do you have an idea? this seems to be related to Wilson?

[2019-04-10 17:29] GeoK commented on #25
@jmprieur - The log message is coming from Wilson, `IDX10500: Signature validation failed`, but it looks like the version used is 4x.
This class doesn't exist in 5x: `System.IdentityModel.Tokens.NamedKeySecurityKeyIdentifierClause`

[2019-04-10 17:45] akalcik commented on #41
Don't mind. With the latest version I don't have this issues. So maybe I made some mistake by reusing the code. We can close this.

[2019-04-10 20:21] brentschmaltz commented on #25
@RenePingen George is correct here. This seems an odd issue because asp.net core uses IdentityModel 5.4 and this class is in 4.x. What IdentityModel assemblies does your application reference?

[2019-04-10 20:26] RenePingen commented on #25
I am trying to use the built in azure ad authentication. Am I  running into the limitation mentioned here?
https://docs.microsoft.com/en-us/azure/app-service/overview-authentication-authorization

I also tried with the older example of the native client, but i got the same error.

Either way, im trying to get the combination native client and nodejs API combination to work. Any ideas are welcome :

[2019-04-10 21:33] jmprieur commented on #41
@akalcik thanks for the update that the latest version is working (I could not repro).
Closing, then!

[2019-04-10 21:33] #41 closed

[2019-04-11 01:15] brentschmaltz commented on #25
@jmprieur do you have a contact for Azure Functions?

[2019-04-11 11:44] RenePingen commented on #25
Hi all,

Thanks for the help. Turns out the only option was to use the ADAL authentication for now, using the older sample:
https://azure.microsoft.com/nl-nl/resources/samples/active-directory-dotnet-native-aspnetcore/

For now it seems this is the only way to use the built in app service authentication.

Steps i followed:
1. Create AAD apps as described in the provided example. Explicitly set 	"a

[2019-04-11 12:54] jmprieur commented on #25
thanks for the update @RenePingen
I'll keep it open, as I want to find a solution (eventually, probably after Build 2019)

[2019-04-12 05:28] nkwolf commented on #36
@jmprieur thanks a lot, I've got it working except for the consent.(I'm sharing the same client id between the native app and Web API).

What should be right scope when acquiring token interactively from the client?

When I follow this instruction and set it to /.default

(api://e29f65bf-f00a-4e6b-90ea-551791483d4d/.default) it throws an **MsalException**:

`AADSTS90009: Application 'e29f65bf-f00a

[2019-04-25 22:41] ahelwer opened #44 "TodoListService listens on localhost:1040 instead of localhost:44351"
### This issue is for a: (mark with an `x`)
[code]

### Minimal steps to reproduce

### Any log messages given by the failure

info: Microsoft.AspNetCore.DataProtection.KeyManagement.XmlKeyManager[0]
      User profile is available. Using 'C:\Users\ahelwer\AppData\Local\ASP.NET\DataProtection-Keys' as key repository and Windows DPAPI to encrypt keys at rest.
Hosting environment: Development
Conten

[2019-04-25 23:21] ahelwer commented on #44
I have now run into so many issues with this example (bad request data errors from Kestrel?) that I'm just going to go write my own prototype client/server. This example could use a lot of Q&A.

[2019-04-29 22:17] jepetty opened #46 "publish token issuer validators?"
### This issue is for a: (mark with an `x`)
[code]

This issue is more of a release question, so apologies if this isn't the right forum.

Are you planning on publishing the AADIssuerValidator as a NuGet package, or including that as some kind of default option? We're in the process of migrating our app from tenant-restricted permissions to open to any account (work school personal). This example

[2019-05-21 14:42] jmprieur commented on #44
@ahelwer
Did you solve your issues? or just give up?
I guess we need to test and provide guidance on how to do with dotnet run (not what is described in the sample)

[2019-05-24 08:48] jmprieur opened #50 "Add a dependencies.prop file for the library"
### This issue is for a: (mark with an `x`)
[code]

A common practice is to have a 'dependencies.prop' file that defines the dependencies version.
For example the file would contain:
<MicrosoftIdentityClientVersion>3.0.3</MicrosoftIdentityClientVersion>

Then TodoListService.csproj would include dependencies.prop and write:
<PackageReference Include="Microsoft.Identity.Client" Version="$(Microsoft

[2019-06-05 00:26] bryanchen-d opened #62 "The passed-in cache option should be used"
### This issue is for a: (mark with an `x`)
[code]

### Minimal steps to reproduce
At https://github.com/Azure-Samples/active-directory-dotnet-native-aspnetcore-v2/blob/ddeb6c3478f993271feb0f48a6d426c6ca5ce7e7/Microsoft.Identity.Web/Client/TokenCacheProviders/InMemory/MSALPerUserMemoryTokenCacheProvider.cs#L59-L67
`
if (option != null)
            {
                this.CacheOptions = new MSALMemo

[2019-06-05 09:22] jmprieur commented on #62
Thanks @bryanchen-d for reporting this embarrassing bug.
cc; @kalyankrishna1 @TiagoBrenck

I just fixed it.

[2019-06-05 09:22] #62 closed

[2019-06-05 22:18] bryanchen-d opened #65 "Cache tokens per tenant"
### This issue is for a: (mark with an `x`)
[code]

### Minimal steps to reproduce
The existing token provider like MSALPerUserMemoryTokenCacheProvider persisting tokens by user id, however in the case of enumerating user's subscriptions (and also other resources) across tenants, it blocks the parallelizing of that. To solve that, it would be better to have the token persisted per user and per ten

[2019-06-06 05:58] jmprieur commented on #65
@bryanchen-d : the MsalAccountId is made of <tenantId>.<UserObjectIdInAzureAd> already
I'm confused about what you are observing?
can you please elaborate on "it blocks the parallelizing of that"? is it something you are observing? or a theorical question?

[2019-06-07 00:02] bryanchen-d commented on #65
Hi Jean, it is a theorical question for now based on my read of the code, as the key in cache is the same, every thread will overwrite the token for the same user. I haven't got a time yet but will give it a try later when I get to do the optimization work.

[2019-06-07 08:12] jmprieur commented on #65
You don't override the token necessarily (which BTW accumulates claims). You override the cache, which will have several tokens in the case of a user present in several tenants. You are safe here, @bryanchen-d

[2019-06-07 08:13] jmprieur commented on #65
Proposing to close. Feel free to reopen if you observe something different.

[2019-06-07 08:13] #65 closed

[2019-06-07 08:14] jmprieur commented on #46
Yes, we are planning to release the library (Microsoft.Identity.Web) as a NuGet package.

[2019-06-07 14:42] andifandrich opened #66 "Enable login for personal microsoft accounts"
### This issue is for a: (mark with an `x`)
[code]

### Minimal steps to reproduce

AADSTS70000: The request was denied because one or more scopes requested are unauthorized or expired. The user must first sign in and grant the client application access to the requested scope.
Of course my app registration allows those to sign in and of course all necessary scopes are granted.

### Any log message

[2019-06-07 16:24] jmprieur commented on #66
@andifandrich

Did you try: https://github.com/Azure-Samples/active-directory-dotnet-native-aspnetcore-v2/tree/master/3.-Web-api-call-Microsoft-graph-for-personal-accounts ?
it works with MSA (but this might not be what you need)

There is currently a limitation that "Known client applications" don't work yet with personal MS Accounts .It's under development (I hope to have it before the end of th

[2019-06-11 06:37] andifandrich commented on #66
Thanks for your quick response and yes I also tried the mentioned sample. In fact my scenario is a Web API used by a JavaScript frontend and also by a WPF application, so both samples fit.
I know about the limitations with personal MS accounts (at least I thought I did). But I also thought it'd be possible to get the most simple thing e.g. login with a personal account. Everything works perfectly

[2019-06-13 20:26] bryanchen-d opened #68 "AadIssuerValidator does not actually validate the issuer"
### This issue is for a: (mark with an `x`)
[code]

### Minimal steps to reproduce
Tested out that a fake access token with customized issuer can still pass the issuer validation.
After debugging, the ValidateAadIssuer function at
https://github.com/Azure-Samples/active-directory-dotnet-native-aspnetcore-v2/blob/7023f883b281229fdc9b920ddb4eb58fd760566a/Microsoft.Identity.Web/Resource/AadIssuerVali

[2019-06-14 11:31] jmprieur commented on #68
@bgavrilMS FYI as agreed.

[2019-06-14 16:27] bgavrilMS commented on #68
PR here https://github.com/Azure-Samples/active-directory-aspnetcore-webapp-openidconnect-v2/pull/117 (sorry it's on another repo, but same codebase). Once all changes are approved, I will merge the fix to both repos.

[2019-06-14 19:13] bgavrilMS commented on #68
Fixed

[2019-06-14 19:13] #68 closed

[2019-07-19 12:14] m4ss1m0g opened #77 "CLEAR example with WebApi and SPA Application (pure js)"
[code]
It's possible to have a **CLEAR** example with
- WebAPI with a controller protected `[Authorize]` by **JwtBearerToken**
- SPA Application (pure js) requesting token and passing to WebAPI ?

[2019-07-19 17:14] TiagoBrenck commented on #77
@m4ss1m0g would this sample be what you are looking for? https://github.com/Azure-Samples/ms-identity-aspnet-webapi-onbehalfof

[2019-07-20 09:20] m4ss1m0g commented on #77
An example where the backend api validate the token.
Now the first example on description use code not found on repository and also use an external library  (made by Micosoft) without NuGet package.

For example on startup.cs code there are

`AddProtectWebApiWithMicrosoftIdentityPlatformV2`

While on README there are code about

`.AddAzureAdBearer(options => Configuration.Bind("AzureAd", options))

[2019-07-22 22:22] TiagoBrenck commented on #77
The external library, Microsoft.Identity.Web, is indeed not available yet but it is just a wrapper for some basic configurations. The README shows you code snippet of what is behind the `AddProtectWebApiWithMicrosoftIdentityPlatformV2` for example. We do that because we want to explain the developers what is happening behind the scenes, avoiding the "magically works" feeling. So, if you don't want

[2019-07-23 09:46] m4ss1m0g commented on #77
@TiagoBrenck Many Thanks ! My principal problem on authenticating to my .NET Api is the token.
I spend some hours to understand that I cannot use an *access_token* obtained with _microsoft.graph_ permission _user.read_ because it cannot be validated and is out of the **aud** of my app. I think that the docs must be updated this way. I must request a token with custom scope (`api://<appid/my_scope`

[2019-07-23 13:16] jmprieur commented on #77
@m4ss1m0g : sorry that you wasted a lot of hours on this.
Which documention did you look? we probably don't have our doc discoverable enought, and we'd want to make sure everybody understand that Web APIs only validate tokens for them, not for other APIs.

For the moment we mentionned this in:
- https://docs.microsoft.com/en-us/azure/active-directory/develop/scenario-protected-web-api-app-configur

[2019-07-23 15:03] m4ss1m0g commented on #77
I would also add a better explanation between **idtoken** and **access_token** to [SPA Application](https://docs.microsoft.com/en-us/azure/active-directory/develop/tutorial-v2-javascript-spa). For me, but I think for other people, a SPA application is a js app that accesses a secure Web API and not MSGraph. Anyway your help was greatly appreciated !

[2019-09-26 16:44] devna13 commented on #77
I've been looking for the same example that spa application (in my case angular with [MSAL-ANGULAR](https://www.npmjs.com/package/@azure/msal-angular) ) after successful login passes the access & idtoken token back to the web api that is protected with [Authorize] attribute and web api can read those tokens and extract username from the claims ( to do some audit logging etc..) and make calls on be

[2019-09-26 18:10] TiagoBrenck commented on #77
@devna13 we have [this Web API sample](https://github.com/Azure-Samples/active-directory-dotnet-native-aspnetcore-v2/tree/master/2.%20Web%20API%20now%20calls%20Microsoft%20Graph) that shows the on behalf of concept. We used a desktop application for the UI part, but you can have the same flow on your Angular application.

The SPA will get a token for the web API, then send the **access token** as

[2019-09-27 09:20] marc-personeni opened #102 "Add a Step 4 to OBO another API than Graph"
### This issue is for a: (mark with an `x`)
[code]

### Minimal steps to reproduce

### Any log messages given by the failure

### Expected/desired behavior

Something similar to what you did with https://github.com/Azure-Samples/active-directory-dotnet-webapi-onbehalfof-ca

### OS and Version?

Windows 10

### Versions

### Mention any other details that might be useful
I used Step 2 as a baselin

[2019-09-27 10:18] jmprieur commented on #102
@marc-personeni
you'll find the OBO sample here: https://github.com/Azure-Samples/active-directory-dotnet-native-aspnetcore-v2/tree/master/2.%20Web%20API%20now%20calls%20Microsoft%20Graph

[2019-09-27 12:45] ivikashjha opened #103 "The calling thread cannot access this object because a different thread owns it"
AADSTS70000: The request was denied because one or more scopes requested are unauthorized or expired. The user must first sign in and grant the client application access to the requested scope

[2019-09-27 12:50] jmprieur commented on #103
@ivikashjha : do you have repros steps?
Can you please share a call stack?

[2019-09-27 12:56] ivikashjha commented on #103
[External Code]
TodoListClient.exe!TodoListClient.MainWindow.AddTodoItem(object sender, System.Windows.RoutedEventArgs e) Line 195
	at C:\AzureAd\active-directory-dotnet-native-aspnetcore-v2\1. Desktop app calls Web API\TodoListClient\MainWindow.xaml.cs(195)
[Resuming Async Method]
[External Code]

[2019-09-27 16:35] TiagoBrenck commented on #102
We have also changed the scope to `access_as_user` recently. Can you make sure that your repository is updated?

[2019-10-06 01:32] RedBlue1776 opened #104 "Integration of Microsoft.Identity.Web with Azure DevOps Pipeline"
[code]

What is the suggested way to reference Microsoft.Identity.Web in my own AspNet Core app that uses Azure DevOps?

I'm thinking that I would refer to this Github source, somehow create a build, that generates an artifact, that I would then integrate into the build process.

Curious how I would maintain revisions of that code and keep it in sync

My first stumbling block is that the DevOps "P

[2019-10-06 17:41] RedBlue1776 commented on #104
I found a commit from earlier this month that it will be prepped as a Nuget package...

Still curious about how to accomplish the above but it's OT for this :)

[2019-10-06 17:41] #104 closed

[2019-10-08 01:36] SwimlaneBuilder opened #105 "Update Readme for API to align with v2 ConfigureServices() approach"
[code]

### Minimal steps to reproduce
The readme below refers to AddAzureADBearer (a v1 endpoint I believe) when it needs to refer to the updated 2.0 endpoint services.AddProtectedWebApi()...

https://github.com/Azure-Samples/active-directory-dotnet-native-aspnetcore-v2/blob/master/1.%20Desktop%20app%20calls%20Web%20API/README.md

[2019-10-13 09:58] zvrba opened #106 "GetAccessTokenOnBehalfOfUserAsync: lazy ObO does not respect tenant parameter"
### This issue is for a: (mark with an `x`)
[code]

### Minimal steps to reproduce
Scenario: a user from tenant A (call it u@A) logs in as a guest into tenant B (call it u@B). As u@B it uses a native client to acquire a token for a web api, and the token is correct (`iss` is B, `idp` is A). The web api uses ObO to acquire a MS Graph token. `GetAccessTokenOnBehalfOfUserAsync` as it is, returns a to

[2019-10-14 16:45] devna13 commented on #77
Thanks @TiagoBrenck, and sorry for delay..

I get the user on the client side:
![65996553-7601fd00-e44c-11e9-99f6-642d6cabddf7](https://user-images.githubusercontent.com/4080343/66768300-21f11280-ee67-11e9-8865-e7239ecccbf0.png)

The [Authorize] call is failing, how can I get the logged in username/info on the webapi side ?
![65996073-8ebde300-e44b-11e9-9cd2-6a6651a06feb](https://user-images.githu

[2019-10-15 16:28] TiagoBrenck commented on #77
@devna13 could you decorate this endpoint with the `Authorize` attribute?

[2019-10-15 16:40] TiagoBrenck commented on #77
@devna13 I read the post that you followed to setup your app, and it seems to be missing some steps (for example, /.default scope, knowClientApplication on manifest, valid audience).
[This sample](https://github.com/Azure-Samples/active-directory-dotnet-native-aspnetcore-v2/tree/master/2.%20Web%20API%20now%20calls%20Microsoft%20Graph) shows you these steps and explains it on the README.md file. Co

[2019-10-15 17:26] devna13 commented on #77
ok I'll try the sample, Thanks @TiagoBrenck

[2019-10-17 03:40] mahoekst opened #108 "The native app calls web api needs the step by step WPF instructions"
### This issue is for a: (mark with an `x`)
[code]

### Minimal steps to reproduce

https://github.com/Azure-Samples/active-directory-dotnet-native-aspnetcore-v2/tree/master/1.%20Desktop%20app%20calls%20Web%20API#How-was-the-code-created

Doesn't have the instructions for the WPF client

### Any log messages given by the failure

### Expected/desired behavior

### OS and Version?

### Versions

##

[2019-10-17 07:20] jmprieur commented on #108
Fixed by commit https://github.com/Azure-Samples/active-directory-dotnet-native-aspnetcore-v2/commit/a1be244790f3cb71bf9590ad7ba105416636a803

[2019-10-17 07:20] #108 closed

[2019-10-18 14:12] jmprieur commented on #106
Thanks @zvrba for the update

[2019-10-18 14:13] jmprieur commented on #103
Thanks @ivikashjha
I think I know what happens. We need to fix it

[2019-10-18 14:14] jmprieur commented on #66
The service side is now fixed.
the only thing is the consent can take a bit of time (a few seconds). But the sample works.

[2019-10-18 14:15] jmprieur commented on #36
This is now working.

[2019-10-18 14:16] #36 closed

[2019-10-22 03:53] zmsoft opened #109 "An error occurred while calling the downstream API"
### This issue is for a: (mark with an `x`)
- [ X] bug report -> please search issues before submitting
- [ ] feature request
- [ ] documentation issue or request
- [ ] regression (a behavior that used to work and stopped in a new release)

### Minimal steps to reproduce

### Any log messages given by the failure

An error occurred while calling the downstream API
Authority should be in the form <

[2019-11-07 19:07] #66 closed

[2019-11-07 19:08] jmprieur commented on #103
This should be fixed bu this PR (which is to move to .NET Core 3.0, but also fixes a number of issues)
https://github.com/Azure-Samples/active-directory-dotnet-native-aspnetcore-v2/pull/111

[2019-11-08 09:11] #103 closed

[2019-11-08 10:01] jmprieur opened #112 "AppCreationScripts for folder 3 creates two apps."
### This issue is for a: (mark with an `x`)
[code]

### Minimal steps to reproduce

### Expected/desired behavior

[2019-11-18 15:53] jmprieur opened #116 "Replace the redirect URI by https://login.microsoftonline.com/common/oauth2/nativeclient"
Why?
Public client application should not use urn:ietf:wg:oauth:2.0:oob but https://login.microsoftonline.com/common/oauth2/nativeclient

What needs to be done?
1. Create a new app to use the https://login.microsoftonline.com/common/oauth2/nativeclient redirect URI
2. Change the code of the sample to use .WithDefaultRedirectUri
3. Change the apps.json and the sample.json to specify https://login.m

[2019-11-30 21:12] tbebekis-ax opened #119 "Two different Microsoft.Identity.Web repositories"
Hi all and many thanks for your samples.

There are two, at least, repositories containing the Microsoft.Identity.Web

- 	https://github.com/Azure-Samples/active-directory-dotnet-native-aspnetcore-v2
- 	https://github.com/Azure-Samples/active-directory-aspnetcore-webapp-openidconnect-v2

and as far as I can tell there must be differences between the two.

1. Why is that?
2. What should I use?

Reg

[2019-12-02 18:16] TiagoBrenck commented on #119
We are trying to merge them in the future, but there are some pending discussions that need to be solved before we merge them. So far, the core idea of the library is the same in both samples, however, active-directory-dotnet-native-aspnetcore-v2 has some features that only applies on Web APIs, while active-directory-aspnetcore-webapp-openidconnect-v2 is more focused on Web Apps.

@jmprieur I reme

[2019-12-03 04:30] tbebekis-ax commented on #119
I have an Azure AD protected ASP.Net Core WebApi.

In the same solution I have two clients to that WebApi: a WinForms application (Client credentials flow) and an ASP.Net Core Mvc Web App (Implicit grant flow).

So I wanted a single code base of that Microsoft.Identity.Web project.

Anyway, I've done it now and they all work fine.

But it would be nice to have it all in one.

Thanks
Theo.

[2019-12-03 04:30] #119 closed

[2019-12-05 06:13] AhmedAzzabi commented on #25
Any updates on this, i'm still facing same issue, is the solution to revert back to AAD ?

[2019-12-05 18:36] TiagoBrenck commented on #25
Hi @AhmedAzzabi, could you get the error message that you are receiving?

[2020-02-08 19:01] jmprieur opened #122 "Provide a variation with manual Jwt validation"
### This issue is for a: (mark with an `x`)
[code]

### Minimal steps to reproduce

Have an additional folder with a v2.0 sample showing how to manually validate the token like in this v1.0 sample: https://github.com/azure-samples/active-directory-dotnet-webapi-manual-jwt-validation

cc: @TiagoBrenck @kalyankrishna1

[2020-02-11 01:30] TiagoBrenck commented on #122
@jmprieur the manual validation done in this v1 sample, is happening in Microsoft.Identity.Web (validate audience, issuer with different aliases, if access token has scope/roles). Are you suggesting a sample that doesn't use Identity.Web, but does all the validations in Startup.cs?

[2020-02-11 03:30] jmprieur commented on #122
@TiagoBrenck, I thought that the manual validation was more about using the `SecurityToken` classe.
https://github.com/Azure-Samples/active-directory-dotnet-webapi-manual-jwt-validation/blob/96fb3b6076f8927753f75e2b8eab52510111f729/TodoListService-ManualJwt/Global.asax.cs#L146-L147

[2020-02-11 17:57] TiagoBrenck commented on #122
If you think that this is not a duplication of work, then lets keep this task.

[2020-02-26 13:18] binhnguyen1984 opened #127 "TodoListClient is not aspnet core based"
The TodoListClient targets aspnet framework, not aspnet core. The same code does not run if I change it to aspnet core. Could someone adapt the code so that it works in aspnet core as well?

[2020-02-28 00:30] TiagoBrenck commented on #112
Fixed

[2020-02-28 00:30] #112 closed

[2020-03-11 21:31] brentschmaltz opened #129 "Microsoft.Identity.Web should not directly reference JwtSecurityToken or JwtSecurityTokenHandlers"
### This issue is for a: (mark with an `x`)
[code]

### Minimal steps to reproduce

Some of the instances are public.
There may be others.
Review:
https://github.com/Azure-Samples/active-directory-dotnet-native-aspnetcore-v2/blob/8abfdfceab88bc79003a84b093d1b606cbda49e7/Microsoft.Identity.Web/HttpContextExtensions.cs#L14

https://github.com/Azure-Samples/active-directory-dotnet-native-aspnetcore-v

[2020-03-20 00:13] mafurman opened #131 "Make sure the PoP handler is capable of validating the 'b' claim"
### This issue is for a: (mark with an `x`)
[code]

### Minimal steps to reproduce

### Expected/desired behavior

### Mention any other details that might be useful

[2020-03-20 00:21] mafurman opened #132 "Make sure PoP handler is capable of handling signed http requests with a varying number of spaces"
### This issue is for a: (mark with an `x`)
[code]

### Minimal steps to reproduce

### Any log messages given by the failure

### Expected/desired behavior

[2020-04-02 13:52] cedrox opened #134 ""Web API now calls Microsoft Graph" sample return 401 out of the box."
- [ x] bug report -> please search issues before submitting
- [ ] feature request
- [ ] documentation issue or request
- [ ] regression (a behavior that used to work and stopped in a new release)

### Minimal steps to reproduce

### Any log messages given by the failure

### Expected/desired behavior

### OS and Version?
Window 10

### Versions

### Mention any other details that might be useful
O

[2020-04-02 15:48] CitronBaBa commented on #134
The web API server (todolistservice in "Web API now calls Microsoft Graph") have this exception and return 401 status to the client WPF application.

info: Microsoft.AspNetCore.Hosting.Diagnostics[1]
      Request starting HTTP/1.1 GET https://localhost:44351/api/todolist
info: Microsoft.AspNetCore.Authentication.JwtBearer.JwtBearerHandler[1]
      Failed to validate the token.
System.MissingMetho

[2020-04-02 17:19] brentschmaltz commented on #134
@CitronBaBa @cedrox what version of Microsoft.IdentityModel.JsonWebTokens is being uses?
What version was used before?

[2020-04-02 17:22] jmprieur commented on #129
@brentschmaltz do we want to use JsonWebToken instead?

[2020-04-02 17:48] jmprieur commented on #134
@brentschmaltz : I think that ASP.NET Core uses Wilson 5 whereas Microsoft.Identity.Web uses Wilson 6.x (with the increment that Maria and I did)
I guess the fix is to update all the Web APIs to Wilson 6.x?
cc: @TiagoBrenck

[2020-04-02 18:00] brentschmaltz commented on #134
Yes, we had a teams meeting where updating to 6.5.0 explicitly would fix the issue.

[2020-04-02 18:00] #134 closed

[2020-04-02 18:26] brentschmaltz commented on #129
@jmprieur your api's should use SecurityToken.
You will then need to cast to either JwtSecurityToken or JsonWebToken until we get the apis we need on SecurityToken.

[2020-04-02 18:30] jmprieur commented on #129
so what is the suggestion?

[2020-04-02 19:20] brentschmaltz commented on #129
@jmprieur

Any public apis's take a Microsoft.IdentityModel.Tokens.SecurityToken.
Then internally cast to JwtSecurityToken or JsonWebToken to get values from the token.
This will work for any tokens from IdentityModel.

You would need extensibility something like the extensibility in TokenValidationParameters seen used here: https://github.com/AzureAD/azure-activedirectory-identitymodel-extensions

[2020-04-03 07:58] cedrox commented on #134
I confirm that the fix is working.
Thank you very much for responding so quickly!

[2020-04-03 14:56] brentschmaltz commented on #134
@cedrox super to hear.
Thanks for contacting us.

[2020-05-06 09:45] #106 closed

[2020-05-13 13:02] amal-khalaf commented on #37
Hi
is there an update on when there will be a aspnetcore-v2 code sample which use certificates instead of secrets

[2020-05-13 13:19] jmprieur commented on #37
It's on the backlog for Microsoft.Identity.Web, @amal-khalaf:
See https://github.com/AzureAD/microsoft-identity-web/issues/12

[2020-05-13 13:49] amal-khalaf commented on #37
Thanks Jean @jmprieur for your quick response - do you have an ETA on when this would be ready?
I am currently re-implementing the Authentication for Luis.ai Portal (which to be released in July) using the Identity Platform v2.0 and i wanted to use the Microsoft.Identiy.Web library (for both Sign in and token acquisition )
however we must use cert for api authenication as we use 1st party app whic

[2020-05-13 14:53] jmprieur commented on #37
@amal-khalaf : we are well aware that this is needed for first party.
Would something like this: https://github.com/AzureAD/microsoft-identity-web/wiki/Spec-certificates ?

[2020-05-13 15:43] amal-khalaf commented on #37
@jmprieur : so i will need to write my own implementation of TokenAcquistion class to handle the new certificate configuration - right?

[2020-06-26 02:34] sam-wheat opened #147 "How to limit users to my organization?"
### This issue is for a: (mark with an `x`)
[code]

### Minimal steps to reproduce

### Any log messages given by the failure

### Expected/desired behavior

### OS and Version?

### Versions

### Mention any other details that might be useful

Per the instructions:

[Optional] if you want to limit sign-in to users in your organization, also update the following properties:
Domain, replacing the e

[2020-06-26 11:42] jmprieur commented on #147
@sam-wheat : did you read this part of the README.md ? https://github.com/Azure-Samples/active-directory-dotnet-native-aspnetcore-v2/tree/master/1.%20Desktop%20app%20calls%20Web%20API#important-note ?

[2020-06-26 11:43] jmprieur commented on #25
Closing as there was no answer?

[2020-06-26 11:43] #25 closed

[2020-06-26 13:56] sam-wheat commented on #147
Hi Jean-Marc, thanks for your reply.
I understand the documentation to indicate the following should work:

 /*
      You need specify the TenantId only if you want to accept access tokens from a single tenant (line of business app)
      Otherwise you can leave them set to common
    */
    "Domain": "mydomain.onmicrosoft.com", // for instance contoso.onmicrosoft.com. Not used in the ASP.NET core

[2020-06-26 13:58] jmprieur commented on #147
Yes @sam-wheat, this is correct. You can also find it in the Properties for a given active directory (Directory ID).
Alternatively you can use the domain name as the tenant ID. This also works.

[2020-06-26 14:08] sam-wheat commented on #147
It does not work.  Am I missing some other configuration item?

            HttpResponseMessage response = await _httpClient.PostAsync(TodoListApiAddress, content);

            if (response.IsSuccessStatusCode)
            {
                TodoText.Text = "";
                GetTodoList();
            }
            else
            {
                    await DisplayErrorMessage(response);

[2020-06-26 14:34] jmprieur commented on #147
Which token did you provider? Would it be an Azure AD token for B2C or the contrary?
Did you try using the app creation scripts @sam-wheat ?

[2020-06-26 14:37] sam-wheat commented on #147
Sorry I don't understand this.

I did not use the scripts since this is a learning experience for me.  Everything else seems to be working however.

[2020-07-13 21:01] jmprieur commented on #37
This is now fixed.
@shiweiwei114  @@amal-khalaf:
See https://github.com/AzureAD/microsoft-identity-web/wiki/Using-certificates#decryption-certificates

[2020-07-13 21:01] #37 closed

[2020-07-13 21:02] jmprieur commented on #46
Fixed in Microsoft.Identity.Web: https://github.com/AzureAD/microsoft-identity-web

[2020-07-13 21:02] #46 closed

[2020-07-13 21:03] #77 closed

[2020-07-13 21:03] jmprieur commented on #105
Fixed. See https://github.com/AzureAD/microsoft-identity-web

[2020-07-13 21:03] #105 closed

[2020-07-13 21:04] jmprieur commented on #109
Cmlosing as there is no more information.
This should work. See https://github.com/AzureAD/microsoft-identity-web

[2020-07-13 21:04] #109 closed

[2020-07-13 21:04] jmprieur commented on #116
Fixed.
See https://github.com/Azure-Samples/active-directory-dotnet-native-aspnetcore-v2/blob/63087e83326e6a332d05fee6e1586b66d840b08f/1.%20Desktop%20app%20calls%20Web%20API/TodoListClient/MainWindow.xaml.cs#L67

[2020-07-13 21:04] #116 closed

[2020-07-13 21:05] jmprieur commented on #122
See https://github.com/Azure-Samples/active-directory-dotnet-webapi-manual-jwt-validation

[2020-07-13 21:05] #122 closed

[2020-07-28 13:05] jmprieur commented on #31
@pmaytak @jennyf19 I think this is fixed, right?

[2020-07-28 13:05] #31 closed

[2020-08-11 15:01] jmprieur opened #156 "Remove Htts from the Pop sample?"
See @hpsin

### This issue is for a: (mark with an `x`)
[code]

### Minimal steps to reproduce

### Any log messages given by the failure

### Expected/desired behavior

### OS and Version?

### Versions

### Mention any other details that might be useful

[2020-08-11 15:05] hpsin commented on #156
Confusion on my end on this front:
https://docs.microsoft.com/en-us/aspnet/core/security/enforcing-ssl?view=aspnetcore-2.1&tabs=visual-studio#http-strict-transport-security-protocol-hsts

I was thinking this was HSTS on the application calling APIs, but it's the app talking to the browser.  I don't have a strong opinion there, IMO HSTS is a great way to kill your app's reliability, but it's up to

[2020-08-12 07:35] jmprieur commented on #156
Thanks for digging into it, @hpsin
Closing it, then.

[2020-08-12 07:35] #156 closed

[2020-09-01 03:47] kp2017 opened #160 "Broken Link to chapter 1"
[Tutorial](https://docs.microsoft.com/en-us/samples/azure-samples/active-directory-dotnet-native-aspnetcore-v2/active-directory-dotnet-native-aspnetcore-v2/) chapter 1 link broken. 404 Error.

[2020-09-08 20:08] speschka commented on #147
FWIW...I got the "signature key was not found" error once when I tried a todo:TodoListScope value (in the app.config file) that was not part of the scopes defined for the app.  Sharing just in case.

[2020-09-29 10:28] jmprieur commented on #129
This is now handled in Microsoft.Identity.Web
Will change the implementation when ASP.NET Core does.

[2020-09-29 10:28] #129 closed

[2020-10-03 02:23] wilsonlintm opened #167 "JWT authorization fail"
Hi,
I have download webapi sample from below, and I have followed the instruction.
https://github.com/Azure-Samples/active-directory-dotnet-native-aspnetcore-v2/archive/aspnetcore3-1.zip

Then, I have acqired the token in angular from msal
// Silently request an access token
    async getAccessToken(): Promise<string> {
        let result = await this.msalService.acquireTokenSilent(OAuthSettings)

[2020-10-05 17:36] Shama-K commented on #167
Can you provide below details:

- What is the value of scope for resource in OAuthSettings?
- Is **aud** claim in the Access Token is client id of your Web API? If yes, then what is the format?

[2020-10-12 22:54] sethuraj opened #170 "ADB2C Bearer error="invalid_token", error_description="The audience '' is invalid""
I tried your application against my ADB2C tenant.  Everything from the sample was added to my API, except,In the appsettings  I  added SignUpSignInPolicyId with my user flow.
I created valid ID token and used swagger (postman) to run my api and I am getting this error message.

Bearer error="invalid_token", error_description="The audience '<webapp registeredclientID>' is invalid" .

[2020-10-13 08:03] jmprieur commented on #170
You also need to do your own app registration and update the client ID, domain, etc ... in the appsettings.json, @sethuraj

[2020-10-13 08:05] jmprieur commented on #160
This is now fixed

[2020-10-13 08:05] #160 closed

[2020-10-13 08:05] #147 closed

[2020-10-25 18:02] xz013 commented on #170
please do you have any example how to do that  !
and thank you for helping

[2020-10-26 07:37] jmprieur commented on #170
@xz013 : See https://docs.microsoft.com/en-us/azure/active-directory-b2c/tutorial-register-applications?tabs=app-reg-ga

[2020-10-27 04:43] SLdragon opened #173 ""No account or login hint was passed to the AcquireTokenSilent" exception would throw if call GetAccessTokenForUserAsync before call graph api"
### This issue is for a: (mark with an `x`)
[code]

### Minimal steps to reproduce
- git clone https://github.com/Azure-Samples/active-directory-dotnet-native-aspnetcore-v2.git
- Follow the ReadMe to setup environment
- Call GetAccessTokenForUserAsync function in ```public async void Post([FromBody] TodoItem todo)``` of ```TodoListController.cs file```

[code]
![image](https://user-images.githubus

[2020-10-27 07:40] jmprieur commented on #173
@SLdragon : which of the sub folders are you using? I don't see this behavior?
How did you register the application?
With which account did you sign-in in the client?

[2020-10-28 08:28] SLdragon commented on #173
Hi, @jmprieur , this one "2. Web API now calls Microsoft Graph", the code can be found here:
https://github.com/Azure-Samples/active-directory-dotnet-native-aspnetcore-v2/blob/master/2.%20Web%20API%20now%20calls%20Microsoft%20Graph/TodoListService/Controllers/TodoListController.cs#L60

I follow the ReadMe to setup the environment, and using a Office365 DEV account to sign-in and test the project

[2020-10-28 13:25] jmprieur commented on #173
@SLdragon : did you try to use the AppCreationScripts?

[2020-10-29 04:59] dylanwa opened #174 "Document for sample "3.-Web-api-call-Microsoft-graph-for-personal-accounts" missed to mention to setup Web redirect URL."
### This issue is for sample '3.-Web-api-call-Microsoft-graph-for-personal-accounts'

Need to have the step to add Web redirect URL, like "https://localhost:44351/", but the document duplicated the step of add "API Permission" for client and service App.

[2020-10-29 07:55] SLdragon commented on #173
I am create AAD by myself and didn't use the script

[2020-10-29 17:27] Shama-K commented on #174
Why do you need Web redirect URL, like "https://localhost:44351/"? Document represents a scenario where WPF Desktop application calls an ASP.NET Core Web API. For that required Redirect URI is:  https://login.microsoftonline.com/common/oauth2/nativeclient.
Other issue of duplicate step of add "API Permission" will be handled.

[2020-11-02 10:37] jmprieur commented on #173
@SLdragon : can you please try to use the scripts.
Then you could compare the manifests

[2020-11-03 15:09] BrettBailey opened #176 "Need Admin Approval (Desktop App Calls Web Api)"
### This issue is for a: (mark with an `x`)
[code]

### Minimal steps to reproduce

### Any log messages given by the failure

### Expected/desired behavior

### OS and Version?

### Versions

### Mention any other details that might be useful
I've checked the app registrations and neither show admin consent required
double checking the app registration for the service and the scope I added under

[2020-11-03 15:58] jmprieur commented on #176
@BrettBailey it can be that your tenant id demands that users cannot consent.
This is therefore not an issue with the sample, but a tenant setting;

[2020-11-04 21:59] BrettBailey commented on #176
@jmprieur Thanks for getting back to me.   I didn't know about that feature but I've had a look in AD and found the setting under "Enterprise Applications". You are correct it was set to not allow user consent.

[2020-11-04 21:59] #176 closed

[2020-11-05 01:43] SLdragon commented on #173
Thanks, I will try it later

[2020-11-06 09:59] dylanwa commented on #174
@Shama-K , I tried it, without this local web api as redirect url, the sample does not work. The sample is a WPF client call todo WebAPI, then todo WebAPI call graph API.

[2020-11-06 10:24] jmprieur commented on #174
@dylanwa : the redirect URI on the Web API is for the multi-tenant case (Sing-in Audience = organizations or organizations and personal accounts). In that case the user or tenant admin is invited to consent to the web API to be installed in the tenant (and for this there is an authorization happening. Then the user is redirected to this page: [index.html](https://github.com/Azure-Samples/active-di

[2020-11-17 09:03] jmprieur commented on #174
Closing as I believe this was addressed. @dylanwa feel free to reopen if you disagree

[2020-11-17 09:07] #174 closed

[2020-12-04 02:41] jennyf19 commented on #173
any update on this @SLdragon ?

[2020-12-04 02:42] jennyf19 commented on #170
closing as answered...feel free to reopen @sethuraj

[2020-12-04 02:42] #170 closed

[2020-12-04 02:42] jennyf19 commented on #167
closing, as more info needed. Feel free to reopen @wilsonlintm

[2020-12-04 02:42] #167 closed

[2020-12-04 23:15] sethuraj commented on #170
Thanks, I will check this out. This was for api to validate the token at starttup. UI side was straight forward.
I am now able to validate the token on api side, with a Middleware class implementation and Startup code.
            services.AddAuthentication(options =>
            {
                options.DefaultScheme = JwtBearerDefaults.AuthenticationScheme;
            })
            .AddJwtBea

[2020-12-04 23:50] jennyf19 commented on #170
thanks for the quick response @sethuraj
you might be interested in [Microsoft Identity Web](https://github.com/azuread/microsoft-identity-web), the wiki there has more information and code snippets

[2021-01-10 19:57] JosephFicara opened #182 "Script Error when clicking the link Sign out and sign in with a different account"
### This issue is for a: (mark with an `x`)
[code]

### Minimal steps to reproduce

I am using the un-modified Desktop-App-calls-Web-API" TodoListClient and TodoListService" sample configured in my Azure AD tenant per the instructions on github.

I reproduced this both with the Microsoft.Identity.Web v1.4.0 nuget package, which is the one the source code un-modified uses as well as the latest vers

[2021-01-15 12:56] zorc opened #183 "About from "AddAzureADBearer" to "AddMicrosoftIdentityWebApiAuthentication""
### This issue is for a: (mark with an `x`)
[code]

### Minimal steps to reproduce

`services.AddAuthentication(AzureADDefaults.JwtBearerAuthenticationScheme)
.AddAzureADBearer(options =>{
options.Instance = Environment.GetEnvironmentVariable("AzureAd-Instance");
options.TenantId = Environment.GetEnvironmentVariable("AzureAd-TenantId");
options.ClientId = Environment.GetEnvironmentVariable("AzureA

[2021-01-15 15:44] jmprieur commented on #183
@zorc
you can use:

[code]

`AddMicrosoftIdentityWebApi` has an override with delegates to initialize the options as you want.

[2021-01-15 17:21] StephenStaats commented on #182
I am having this same issue

[2021-01-22 23:08] Shama-K commented on #182
@JosephFicara and @StephenStaats, To get an idea of how long the issue has been there, could you please share when did you started facing it?

[2021-01-25 01:14] JosephFicara commented on #182
I started seeing this about three months ago, in November 2020.  That is when I started the integration work with the MSAL.  I don't know if it existed prior to that.

[2021-01-25 14:41] StephenStaats commented on #182
I also started noticing the problem in November 2020.

From: JosephFicara [mailto:notifications@github.com]
Sent: Sunday, January 24, 2021 8:15 PM
To: Azure-Samples/active-directory-dotnet-native-aspnetcore-v2
Cc: StephenStaats; Mention
Subject: Re: [Azure-Samples/active-directory-dotnet-native-aspnetcore-v2] Script Error when clicking the link Sign out and sign in with a different account (#182)

[2021-02-08 22:00] JosephFicara commented on #182
Are there any updates to this issue in terms of a resolution?

[2021-02-09 01:23] Shama-K commented on #182
We have raised an incident with the respective service team and it's in progress.

[2021-02-09 15:19] JosephFicara commented on #182
Thank you!

[2021-02-21 17:31] dbman86 opened #186 "Can't change "Who Can Consent" to "Admins and Users" when adding Scope to Expose an API"
### This issue is for a: (mark with an `x`)
[code]

### Minimal steps to reproduce

I am trying to follow the tutorial for chapter 1.  When I go to expose an API and add a scope, I don't see the option to change the "Who Can Consent" to admins and users:
![image](https://user-images.githubusercontent.com/629163/108633162-9d81ad00-7427-11eb-934c-90b84b589923.png)

Users are allowed to consent to an

[2021-02-23 02:37] Shama-K commented on #186
It looks like you are using Azure AD B2C tenant and Azure AD B2C does not support user consent.

[2021-02-28 08:10] dpaulino opened #187 "Unauthorized error when following "Desktop app calls Web API" instructions"
![image](https://user-images.githubusercontent.com/7649589/109411711-dacec900-7958-11eb-868b-c51a7ababe79.png)

### This issue is for a: (mark with an `x`)
[code]

### Minimal steps to reproduce

![image](https://user-images.githubusercontent.com/7649589/109411728-f33ee380-7958-11eb-9359-7945b69ce584.png)
![image](https://user-images.githubusercontent.com/7649589/109411731-f934c480-7958-11eb-86c0-

[2021-02-28 11:35] jmprieur commented on #187
@dpaulino it will work provided you change the audience of your web API to be [Accounts in any organizational directory and personal Microsoft accounts (e.g. Skype, Xbox, Outlook.com)](https://github.com/Azure-Samples/active-directory-dotnet-native-aspnetcore-v2/tree/master/3.-Web-api-call-Microsoft-graph-for-personal-accounts#register-the-service-app-todolistclient-and-service)

- which chapter d

[2021-02-28 16:05] dpaulino commented on #187
I used chapter 1 instructions.

That's already the audience of the web API. In fact, the instruction already specifies that audience. But it doesn't work. I'm getting unauthorized error.

Is the issue related to my tenant? I'm using my default tenant. Should I create a new tenant?

And I haven't seen chapter 3 yet. I can try it.

[2021-03-01 00:50] dpaulino commented on #187
For clarify, here is where the instruction says what audience to use: https://github.com/Azure-Samples/active-directory-dotnet-native-aspnetcore-v2/tree/master/1.%20Desktop%20app%20calls%20Web%20API#register-the-service-app-todolistservice-active-directory-dotnet-native-aspnetcore-v2. So how come I'm getting an unauthorized error when I use my personal microsoft account?

![image](https://user-ima

[2021-03-01 10:26] jmprieur commented on #187
@dpaulino
Could you please debug the web API by using the [TodoListService launch profile](https://github.com/Azure-Samples/active-directory-dotnet-native-aspnetcore-v2/blob/6aec0096cf0ad355a74d20f3c46d786bc8dc428b/1.%20Desktop%20app%20calls%20Web%20API/TodoListService/Properties/launchSettings.json#L20), which is kestrel, not IIS, and look at the logs that appear in the console.
you should be abl

[2021-03-03 20:09] dbman86 commented on #186
thanks this is actually a better tutorial for what I am trying to accomplish: https://github.com/Azure-Samples/active-directory-b2c-dotnet-webapp-and-webapi/

[2021-03-03 20:09] #186 closed

[2021-03-08 18:07] dpaulino commented on #187
I figured out the issue. By sheer luck, I discovered that Azure AD's free-tier has a Single Sign-On limitation. You can only have 10 app registrations for SSO to work. I had 11. I reduced this down to 8, and then this sample code magically started working.
![image](https://user-images.githubusercontent.com/7649589/110361671-318d7000-7ff5-11eb-8efb-3fe2976ac871.png)

I'm extremely frustrated by thi

[2021-03-08 21:01] jmprieur commented on #187
Thanks for the update @dpaulino
I didn't know either. I wonder if this is recent.

@jennyf19 @henrik-me : let's try to improve the error message if we can at the level of Microsoft.Identity.Web (and possibly MSAL (@jennyf19 @henrik-me @bgavrilMS @trwalke @pmaytak)

cc: @lnalepa @SaeedAkhter-MSFT for the feedback ...

[2021-03-10 03:40] SLdragon commented on #173
Hi, @jennyf19 , sorry for the late, today I tried the script, but it shows an error:
![image](https://user-images.githubusercontent.com/5545529/110572611-c084be80-8194-11eb-92a7-16b0bb1e6d4f.png)

Set-AzureADApplication : Error occurred while executing SetApplication
Code: Request_BadRequest
Message: Invalid value specified for property 'resourceAppId' of resource 'RequiredResourceAccess'.
Request

[2021-03-10 04:15] SLdragon commented on #173
Tried multiple times to use script to create AAD, only first time using office dev365 account works fine.

And I also tested the issued mentioned, the error still happen.

Summary:

1. Tested project:  https://github.com/Azure-Samples/active-directory-dotnet-native-aspnetcore-v2/blob/master/2.%20Web%20API%20now%20calls%20Microsoft%20Graph
2. Use AppCreationScripts to create AAD
3. Update code in t

[2021-03-10 10:38] jmprieur commented on #173
@SLdragon
If you already ran the script, you'd want to use the CleanUp.ps1 script first (in the same folder).

Does your tenant have issuer validation?
Would it be a free tenant with more than 10 applications?

[2021-03-12 01:38] SLdragon commented on #173
Seems the script is not work for "@microsoft.com" account.
It will show some permission error:

![image](https://user-images.githubusercontent.com/5545529/110878690-9bb85480-8316-11eb-9346-66fd9ef05108.png)

Now office dev365 account can run PowerShell script without error

[2021-03-12 12:17] jmprieur commented on #173
@SLdragon we have restricted rights in the microsoft tenant. Users cannot consent to scopes (other than user.read), in particular, you won't be able to grant access to your own API.

Are you using the microsoft.com tenant for testing? if you are, please use another tenant. If this is to build an internal tool please contact me directly.

[2021-03-14 20:40] jrmcdona commented on #183
@jmprieur does this work with this too?

 services.AddMicrosoftIdentityWebApiAuthentication(Configuration);

[2021-03-14 20:43] jrmcdona opened #189 "protected web api with GetAadIssuerValidator"
[code]

I am using .NET 5.0 and trying to validate the issuer.  Do we have any samples doing this?  I have not figure out how to get the service provider (IServiceProvider) in order to call GetRequiredService,

[code]

[2021-03-15 06:07] SLdragon commented on #173
Thank you @jmprieur, now office dev 365 account works fine!

And for the "No account or login hint was passed to the AcquireTokenSilent call" Exception, do you have any insights?

[2021-03-15 09:14] jmprieur commented on #173
@SLdragon:
- Do you have the authorize attribute on your controller?
- how is the token used to call the web API?

[2021-03-15 09:41] jmprieur commented on #189
@jrmcdona
IOptions has several generic overrides that can provide you the types you want by dependency injection

See:
https://github.com/AzureAD/microsoft-identity-web/blob/fe47497f97f2956ac238cd18034666934cc9ec8d/src/Microsoft.Identity.Web/WebApiExtensions/MicrosoftIdentityWebApiAuthenticationBuilderExtensions.cs#L172-L173

[code]

[2021-03-15 09:46] jmprieur commented on #183
@jrmcdona, in that case, I'd recommend you use:

[code]

The 2 instructions form gives you more flexibility (`AddMicrosoftIdentityWebApiAuthentication` is really a shortcut for the 2 instructions, for simple cases. In advanced cases, rather use the 2 instructions)

You can also override the JwtBearerOptions if you need. See https://github.com/AzureAD/microsoft-identity-web/wiki/customization#custo

[2021-03-22 10:41] bgavrilMS opened #191 "Cleanup.ps1 fails with exception"
### This issue is for a: (mark with an `x`)
[code]

### Minimal steps to reproduce

Remove-AzureADApplication : Error occurred while executing RemoveApplication
Code: Request_BadRequest
Message: Value cannot be null.
Parameter name: requestContext
RequestId: e3a649e4-ec3a-4538-91af-c2143003fc84
DateTimeStamp: Mon, 22 Mar 2021 09:40:28 GMT
HttpStatusCode: BadRequest
HttpStatusDescription: Bad Reque

[2021-03-22 19:12] Shama-K commented on #191
@bgavrilMS Can you please share what is the "signInAudience" in the App manifest?
Remove-AzureADApplication does not work if app is registered for **AzureADandPersonalMicrosoftAccount**. That needs to be removed manually.

[2021-03-23 11:20] bgavrilMS commented on #191
Well the ./Create.ps1 script says to update the SIgnInAudience to `AzureADandPersonalMicrosoftAccount`, so I did that. The Cleanup.ps1 script should catch this exception and ask the user to manually remove apps if the underlying operation is not automatable.

[2021-04-20 18:55] reagcz opened #197 "Possible typo/out of date code in the tutorial"
### This issue is for a: (mark with an `x`)
[code]

### Minimal steps to reproduce

[This part of the tutorial](https://github.com/Azure-Samples/active-directory-dotnet-native-aspnetcore-v2/tree/master/3.-Web-api-call-Microsoft-graph-for-personal-accounts) calls for replacing

[code]
[Here](https://github.com/Azure-Samples/active-directory-dotnet-native-aspnetcore-v2/blob/master/2.%20Web%20API%20n

[2021-04-21 11:20] jmprieur commented on #197
@Shama-K @kalyankrishna1 can you please take this one?
It's indeed referencing an old version of Ms.Id.Web
but I also I don't understand why we have a special token validation? shouln't it be in Microsoft.Identity.Web if it needs to happen?

[2021-05-20 23:56] #191 closed

[2021-05-20 23:57] jennyf19 commented on #183
closing as answered

[2021-05-20 23:57] #183 closed

[2021-05-25 15:19] jennyf19 commented on #197
fixed, thank you @reagcz

[2021-05-25 15:19] #197 closed

[2021-07-08 17:03] dkboon01 opened #204 "in Web-API-Calls-Graph in the service on startup.cs"
in .net 3 this
  services.AddMicrosoftIdentityWebApiAuthentication(Configuration)
                    .EnableTokenAcquisitionToCallDownstreamApi()
                        .AddMicrosoftGraph(Configuration.GetSection("DownstreamApi"))
                        .AddInMemoryTokenCaches();
However, in .net 5 it does not like AddMicrosoftGraph.  Is there a newer package that I should use?

[2021-07-08 17:13] #204 closed

[2021-07-26 13:39] bgavrilMS opened #207 "AppCreationScripts - can no longer change audience to AzureADandPersonalMicrosoftAccount"
This issue is a regression.

1. Run the AppCreationScripts for chapter 2 (or any of them)
2. The instructions say to manually change the SignInAudience to AzureADandPersonalMicrosoftAccount (for both client and server app)
3. Try to do that by editing the manifest

**Actual**: Failed to update TodoListClient(ms-identity-dotnet-native-aspnetcore-v2) application. Error detail: Property accessTokenAc

[2021-07-26 15:47] bgavrilMS opened #208 "Consent not handled well by client app"
### This issue is for a: (mark with an `x`)
[code]

### Minimal steps to reproduce
1. Login a user in client app. Notice embedded browser used.
2. Add an item

**Actual**: browser pops up for consent. Then failure because of bad redirect uri
**Expected**: client app should not do `Process.Start` for consent. Perhaps it should call `AcquireTokenInteractive` and use `.WithPrompt(Prompt.Consent)`? Th

[2021-07-28 09:13] bgavrilMS opened #209 "Experience overly complex - why not ask for consent upfront?"
### This issue is for a: (mark with an `x`)
[code]

Existing experience when trying to add an item, after user login:

1. User logs in to client app by asking for a token for api://guid/access_as_user (consent is asked)
2. client app calls web api with this token
3. web api tries to exchange token for a token with scope "User.Read" via OBO
4. this fails because of consent
5. web api replies with 4

[2021-09-07 02:04] jmprieur commented on #209
@bgavrilMS : which chapter of the sample is it?
the problem is that in multi-tenant applications, the web API needs to be approved by a tenant admin.

Let's discuss if i miss something/

[2021-09-07 02:06] jmprieur commented on #207
This seems to be an error with the portal / app-model
There shouldn't be an accessTokenAcceptedVersion for the client, as it's not a web API?
Which folder is this @bgavrilMS ?

[2021-09-07 02:07] jmprieur commented on #208
Which folder is this @bgavrilMS ? I cannot repro this?

[2021-09-07 09:56] bgavrilMS commented on #209
This is chapter 2

[2021-09-07 09:56] bgavrilMS commented on #208
This folder 2, the code is here: https://github.com/Azure-Samples/active-directory-dotnet-native-aspnetcore-v2/blob/master/2.%20Web%20API%20now%20calls%20Microsoft%20Graph/TodoListClient/MainWindow.xaml.cs#L206

[2021-09-07 09:59] bgavrilMS commented on #209
When I tried to use the approach above (`WithExtraScopesToConsent`) , this worked for me for both MSA (there is no tenant admin? )and AAD user. The consent screen asked me about `"api://guid/access_as_user"` scope.

[2021-09-08 00:07] jmprieur commented on #208
@bgavrilMS this is a bit more subtle than that
the consent is for the tenant admin to consent for the web API to call the downstream web API in multi-tenant scenarios. if you use the sample in single tenant cases, or for the tenant where your app was registered, all is good. but if you sign-in a user from a different tenant, the service principal of the web api will be created on the fly, but the

[2021-10-05 20:18] jennyf19 commented on #209
is this still an issue?

[2021-10-28 17:29] dotnetjunky opened #214 "Sign In from WPF app fails"
Hi,

I followed the instructions in Chapter 2 to set up the WPF app and Web API service. When I run the WPF app, click Sign In, enter my credentials and click the Consent button, I receive this message:

---
# Need admin approval

## ToDo Client
ToDo Client needs permission to access resources in your organization that only an admin can grant. Please ask an admin to grant permission to this app be

[2021-10-29 17:50] #214 closed, assigned to nobody

[2021-11-10 08:48] bz-wow commented on #170
Not an issue, just a complaint... Why MS provides so many packages to just acquire a token? It's very hard to just pick one of them, since lost of articles saying how to get/set an AAD token, and these methods are not consistent... Didn't find a simple and clear enough guide so far...

[2021-11-10 18:05] jennyf19 commented on #170
@bz-wow Thanks for the feedback. What specifically are you looking for as far as documentation? And if you can provide links to the docs you've seen that are not helpful or clear, that would enable us to make improvements there as well. thanks.

Have you seen this page on [token cache serialization](https://docs.microsoft.com/en-us/azure/active-directory/develop/msal-net-token-cache-serialization?

[2021-11-24 22:30] Jackson-Woods opened #216 "Public client guidance out of date"
### This issue is for a: (mark with an `x`)
[code]

### Minimal steps to reproduce
Guidance in section 1 -> "Register the client app" -> step 6 is out of date with current Azure portal

### Any log messages given by the failure

### Expected/desired behavior

### OS and Version?

### Versions

### Mention any other details that might be useful

[2022-02-24 10:05] tdceus opened #219 ""Web API calls MS Graph" add example called via web application/client based like Blazor or MVC .NET 6"
### This issue is for a: (mark with an `x`)
[code]

### Minimal steps to reproduce
I tried to use the example *Web API now calls Microsoft Graph* example, but now it will be called via a web application like MVC or Blazor in .NET 6. As soon as the WebApi calls the MSGraph via the WebApp, a MsalUiRequiredException is thrown.
The InnerException is of type MicrosoftIdentityWebChallengeUserException.

[2022-07-22 01:17] ChuksObi opened #226 "On-Behalf-Of flow: The user or administrator has not consented to use the application with ID 'app-guid' named 'app-name'. Send an interactive authorization"
### This issue is for a: (mark with an `x`)
[code]

### Minimal steps to reproduce

**My setup**

I have an ASP.NET Core MVC (net5.0) web app configured with Azure AD. I have an ASP.NET Core (net5.0) Web API configured Azure AD.

I login to the client and I obtain the token in the client web app and use it when requesting resources from the Web API through JS, this works fine. I get responses and